################################################
# 			Generelle Konfiguration
################################################

CONFIG_BROWNOUT_DET=n
CONFIG_ESP_BROWNOUT_DET=n
CONFIG_SPIRAM=y
CONFIG_PM_ENABLE=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
#CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_FREERTOS_UNICORE=y
CONFIG_FREERTOS_HZ=100
CONFIG_BT_ENABLED=n
CONFIG_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_TASK_WDT=n
CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=n
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_ESP_SLEEP_DEEP_SLEEP_WAKEUP_DELAY=0
CONFIG_FATFS_LFN_HEAP=y

################################################
#      ESP32-spezifische Konfigurationen
################################################
#CONFIG_ESP32_DEEP_SLEEP_WAKEUP_DELAY=0
CONFIG_ESP32_DEFAULT_CPU_FREQ_80=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=80
CONFIG_ESP32_DISABLE_BASIC_ROM_CONSOLE=y
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_ESP32_RTC_CLOCK_SOURCE_INTERNAL_RC=y
CONFIG_ESP32_COREDUMP_ENABLE=n
CONFIG_ESP32_DEBUG_OCDAWARE=n

################################################
# 	  ESP32S3-spezifische Konfigurationen
################################################
#CONFIG_ESP32S3_DEEP_SLEEP_WAKEUP_DELAY=0
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_80=y
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_MHZ=80
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_ESP32S3_DEBUG_OCDAWARE=n
CONFIG_RTC_CLK_SRC_INT_RC=y
CONFIG_SPIRAM_MODE_OCT=y

################################################
#    Applikationsspezifische Konfigurationen
################################################
