menu "MeterMonitor config"

	config METER_MONITOR_SLEEP_TIME
		int "The picture capture interval (in min.)"
		range 5 1440
		default 5
		help
			The interval in which a picture is to be captured in minutes. Value must be between 5 and 1440 Minutes (24 hours). Defaults to every 5 minutes.

    config METER_MONITOR_NAME
        string "Unique Identifying meter name"
        default "Hauptzaehler"
        help
            The name of the meter, this camera will track. It is used for identification at the classifier and as a MQTT-Topic.

    config METER_MONITOR_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) to connect to.

    config METER_MONITOR_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password to use.

    config METER_MONITOR_WIFI_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config METER_MONITOR_SNTP_TIME_SERVER
        string "SNTP server name"
        default "pool.ntp.org"
        help
            Hostname of the SNTP server to be used for time synchronisation.

    config METER_MONITOR_MQTT_URI
        string "URI of the MQTT-Broker"
        default "mqtt://mqtt.eclipseprojects.io"
        help
            URI of the Broker, to which pictures should be send

    config METER_MONITOR_MQTT_PORT
        int "MQTT-Broker Port"
        default 1883
        help
            Port to connect on to the MQTT-Broker

    config METER_MONITOR_MQTT_USERNAME
        string "Username (if credentials needed)"
        help
            Username of the credentials, if needed. If not defined no authentication is needed.

    config METER_MONITOR_MQTT_USERNAME_DEFINED
        bool
        default "y" if METER_MONITOR_MQTT_USERNAME != ""
        depends on METER_MONITOR_MQTT_USERNAME != ""
        help
            This option is automatically set if a username is defined.

    config METER_MONITOR_MQTT_PASSWORD
        string "Password (if credentials needed)"
        help
            Password of the credentials, if needed. If not defined no authentication is needed.

    config METER_MONITOR_MQTT_PASSWORD_DEFINED
        bool
        default "y" if METER_MONITOR_MQTT_PASSWORD != ""
        depends on METER_MONITOR_MQTT_PASSWORD != ""
        help
            This option is automatically set if a password is defined.

    choice METER_MONITOR_CAMERA_FRAME_SIZE
        bool "Camera Frame Size"
        default METER_MONITOR_CAMERA_FRAME_SIZE_VGA
        help
            Select the frame size for the camera. Options are defined in the esp32-camera library.

	config METER_MONITOR_CAMERA_FRAME_SIZE_QQVGA
		bool "160x120 (QQVGA)"
	config METER_MONITOR_CAMERA_FRAME_SIZE_QVGA
		bool "320x240 (QVGA)"
	config METER_MONITOR_CAMERA_FRAME_SIZE_VGA
		bool "640x480 (VGA)"
	config METER_MONITOR_CAMERA_FRAME_SIZE_SVGA
		bool "800x600 (SVGA)"
	config METER_MONITOR_CAMERA_FRAME_SIZE_XGA
		bool "1024x768 (XGA)"
	config METER_MONITOR_CAMERA_FRAME_SIZE_SXGA
		bool "1280x1024 (SXGA)"
	config METER_MONITOR_CAMERA_FRAME_SIZE_UXGA
		bool "1600x1200 (UXGA)"
    endchoice

endmenu
